@charset "utf-8";

/* --- Global --- */
body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  background-color: #ededed;
}

/* Helper */
.mx-auto {
  margin-right: auto;
  margin-left: auto;
}

.container {
  max-width: 1200px;
  box-sizing: border-box;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 35px 35px;
}

.row {
  display: flex;
}

/* --- Layouts --- */
.hd {
  padding-top: 20px;
  padding-bottom: 20px;
}

.main {
  width: 74.1%;
}

.sideBar {
  width: 25.9%;
  padding-left: 30px;
  box-sizing: border-box;
}

.footer {
  padding-top: 10px;
  padding-bottom: 10px;
  color: #c7cacd;
  background-color: #989898;
}

/* --- Modules --- */
.loadingPage {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
  width: 100%;
  height: 100vh;
  font-size: 15px;
  color: #f2f2f2;
  background-color: rgba(71, 71, 71, 0.8);
}

.hd__title {
  font-size: 32px;
  font-weight: 600;
  text-align: center;
  color: #000;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 3px;
}

.nav__select {
  padding-left: 15px;
  padding-right: 30px;
  height: 37px;
  font-size: 16px;
  border: none;
  border-radius: 3px;
  background: no-repeat #d5d5d5 url("/images/arrow.png") 95% 45% /6px 6px;
  appearance: none;
  outline-color: #a6c4f6;
}

.nav__select+.nav__select {
  margin-left: 5px;
}

.nav__mode {
  display: flex;
}

.nav__switchDesc {
  font-size: 16px;
  color: #868383;
}

.nav__switchBtn {
  font-size: 20px;
  color: #757575;
  border: none;
  cursor: pointer;
}

.js-nav__switchBtn {
  color: #000;
}

.swicthContent {
  padding-top: 15px;
}

/* list */
.res {
  position: relative;
  display: flex;
  padding: 15px;
  background-color: #fff;
  box-shadow: 1px 1px 1px 1px rgba(192, 190, 190, 0.377);
}

.res+.res {
  margin-top: 15px;
}

.res__link {
  display: flex;
  color: #000;
  text-decoration: none;
}

.res__fig {
  width: 27.5%;
  height: auto;
  overflow: hidden;
  background-color: rgba(8, 8, 8, 0.226);
}

.res__img {
  width: 100%;
  height: auto;
  mix-blend-mode: multiply;
  vertical-align: middle;
  transition: transform 1s;
}

.res__fig:hover .res__img {
  mix-blend-mode: initial;
  transform: scale(1.3);
}


.res__text {
  width: 72.5%;
  padding-left: 30px;
  box-sizing: border-box;
}

.res__title {
  padding-bottom: 5px;
  font-size: 30px;
  font-weight: 600;
}

.res__link .res__title {
  color: #00a2d2;
}

.res__info {
  position: absolute;
  left: -52px;
  top: 0;
  color: #3f3d3d;
}

.res__flag {
  padding: 3px 5px;
  font-size: 14px;
  color: #fff;
  background-color: #00a2d2;
}

.res__desc {
  margin-top: 10px;
  margin-left: auto;
  margin-right: 10px;
  letter-spacing: 5px;
  writing-mode: vertical-lr;
}

.res__paragh {
  font-size: 15px;
  color: #636161;
}

/* Table Mode */
.tableContent {
  display: none;
  padding-top: 15px;
}

.resTable {
  width: 100%;
  white-space: nowrap;
}

.resTable__title {
  background: linear-gradient(#f6f7f8, #e3e6e6);
  border-bottom: 2px solid #cbcbcb;
}

.resTable__th {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #cbcbcb;
  color: #8a8787;
  font-weight: 600;
  white-space: nowrap;
}

.resTable__row--stripe {
  background-color: #fdfdfdea;
}

.resTable__row:hover {
  background-color: #eef2f7;
}

.resTable__td {
  padding: 10px 15px;
  font-size: 15px;
  border: 1px solid #dfdddd;
  vertical-align: middle;
  box-sizing: border-box;
}

.resTable__td--indexWidth {
  width: 60px;
}

.resTable__td--fixWidth {
  width: 90px;
}

.resTable__td--minWidth {
  min-width: 80px;
}

.resTable__td--textGrey {
  color: #8a8787;
}

.resTable__td--textRight {
  text-align: right;
}

.resTable__td--noWrap {
  white-space: nowrap;
}

.resTable__td--text {
  position: relative;
}

.resTable__hideText {
  position: absolute;
  top: 32px;
  left: 22px;
  padding-right: 5px;
  padding-left: 5px;
  font-size: 12px;
  white-space: nowrap;
  background: linear-gradient(#f0f1f3, #e9eef5);
  border: 1px solid rgba(0, 0, 0, 0.596);
  border-radius: 2px;
  box-shadow: 1px 1px 2px 1px rgba(59, 59, 59, 0.575);
}

/* Card Mode */
.cardRes {
  position: relative;
  height: 200px;
  overflow: hidden;
  background-image: linear-gradient(transparent 70%, rgba(14, 13, 13, 0.877));
}

.cardRes__img {
  width: 100%;
  mix-blend-mode: multiply;
  object-fit: cover;
  transition: transform 1s;
}

.cardRes:hover .cardRes__img {
  transform: scale(1.3);
}

.cardRes__text {
  position: absolute;
  top: 150px;
  padding-left: 15px;
  padding-right: 15px;
  color: #fff;
  transition: top 1s;
}

.cardRes:hover .cardRes__text {
  top: 80px;
}

.cardRes__flag {
  padding: 2px 5px;
  font-size: 12px;
  color: #fff;
  background-color: #00a2d2;
}

.cardRes__info {
  display: flex;
  align-items: center;
}

.cardRes__desc {
  padding-left: 5px;
  font-size: 13px;
  color: rgba(255, 255, 255, 0.815);
}

.cardRes__desc--italic {
  font-style: italic;
}

.cardRes__title {
  font-weight: 700;
  padding-top: 3px;
  padding-bottom: 20px;
}

.cardRes__title::after {
  content: '';
  position: absolute;
  top: 52px;
  left: 15px;
  width: 48px;
  height: 3px;
  background-color: #fff;
}

.cardRes__paragh {
  display: -webkit-box;
  font-size: 14px;
  text-overflow: none;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

/* ad */
.file {
  width: 280px;
}

.file-sticky {
  position: sticky;
  top: 0;
}

.file+.file {
  margin-top: 15px;
}

.file__img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

.pageList {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 30px;
}

.pageList__btn {
  padding: 7px 13px;
  font-size: 16px;
  color: #aaafae;
  border: none;
  background-color: #dcdcdc;
  cursor: pointer;
}

.pageList__btn+.pageList__btn {
  margin-left: 5px;
}

.js-pageList__btn {
  color: #fff;
  background-color: #00a2d2;
}

.footer__title {
  font-size: 20px;
  font-weight: 600;
}

.footer__desc {
  font-size: 14px;
}

.footer__info {
  color: #fff;
}