@media screen and (max-width:414px) {

  /* Helper */
  .grid {
    grid-template-columns: 1fr;
    gap: 20px 15px;
  }

  /* --- Layouts --- */

  .content {
    padding-right: 15px;
    padding-left: 15px;
  }

  .row {
    min-height: calc(100vh - 150px);
  }

  .main {
    width: 100%;

  }

  .pageList {
    padding-right: 15px;
    padding-left: 15px;
  }

  .footer {
    text-align: center;
  }

  /* --- Modules --- */
  .hd__title {
    font-size: 26px;
  }

  .nav {
    display: block;
    padding-right: 15px;
    padding-left: 15px;
    background-color: transparent;
  }

  .nav__select+.nav__select {
    margin-left: 0px;
  }

  .nav__select {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
    background-position: 98%;
  }

  .nav__mode {
    padding-top: 5px;
    justify-content: center;
  }

  /* list */
  .content {
    overflow: auto;
  }

  .res,
  .res__link {
    display: block;
  }

  .res__fig {
    width: 100%;
  }

  .res__text {
    width: 100%;
    padding-left: 0;
  }

  .res__title {
    font-size: 22px;
    padding-top: 15px;
  }

  .pageList__text {
    display: none;
  }

  .res__info {
    position: static;
    display: flex;
    align-items: center;
  }

  .res__flag {
    padding: 3px 4px;
    font-size: 14px;
  }

  .res__desc {
    margin-top: 0px;
    margin-left: 10px;
    letter-spacing: 0px;
    writing-mode: unset;
  }

  .res__paragh {
    display: -webkit-box;
    padding-top: 15px;
    font-size: 15px;
    text-overflow: none;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  /* Table Mode */

  .resTable {
    width: 100%;
  }

  /* Card Mode */
  .cardRes {
    height: 160px;
  }

  .cardRes__text {
    top: 105px;
  }

  .cardRes:hover .cardRes__text {
    top: 40px;
  }

  .pageList {
    padding-top: 10px;
    padding-bottom: 40px;
  }

  .pageList__btn {
    margin-top: 10px;
    margin-right: 10px;
  }

  .pageList__btn+.pageList__btn {
    margin-left: 0;
  }
}